<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:\Users\User\IdeaProjects\booking-service\src\main\java\com\project\booking\logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="fileLoggerController" fileName="${basePath}/controller-info.log"
                     filePattern="${basePath}/controller-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!--
        <Logger name="com.project.booking" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        -->

        <Logger name="com.project.booking" level="debug" additivity="true">
            <appender-ref ref="fileLoggerController" level="info" />
        </Logger>

    </Loggers>

</Configuration>